body {
    background-color: aqua;
    background-image: url("mixed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 70px;
    margin-bottom: 20px;
}
p {
    font-size: 20px;
}
.container {
    background-color: transparent;
    max-width: 80%;
    margin: auto;
    border: 3px solid powderblue;
    border-radius: 10px;
}
button {
    background-color: blanchedalmond;
    color: red;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}
#savee {
    background-color: cadetblue;
}